/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;

  &[dir="rtl"] {
    .cdk-drag-preview {
      direction: rtl;
    }
  }

  &.dark {
    .cdk-drag-preview {
      background: black;
    }
  }
}
