body,
html {
  height: initial !important;
}

body {
  overflow-x: hidden;

  &[dir="rtl"] {
    .cdk-drag-preview {
      direction: rtl;
    }
  }

  &.dark {
    nz-page-header {
      background: black;
    }

    .fixed-input-container {
      background: black;

      > nz-list-header {
        border: 1px solid #303030;
        border-right-color: #434343;
        border-left-color: #434343;
      }
    }

    .cdk-drag-preview {
      background: black;
    }

    footer {
      background: black;
    }
  }

  footer {
    background: white;
  }

  .fixed-input-container {
    > nz-list-header {
      border: 1px solid #d9d9d9;
    }
  }
}
