@import "../../variables.scss";

.settings-cog ::ng-deep svg {
  width: 24px;
  height: 24px;
}

.settings-menu {
  min-width: 260px;

  .item-toggle {
    display: flex;
    justify-content: space-between;
  }
}
